<div class="header-container">
  <header class="header">
    <div class="logo">
      <h1 [@scaleOnHover]="logoState" 
          (mouseenter)="setHoverState('logo', true)" 
          (mouseleave)="setHoverState('logo', false)">
        SupaRadu
      </h1>
    </div>
    <nav class="navigation">
      <ul>
        @for (item of navItems; track item) {
          <li>
            <a [@scaleOnHover]="getNavItemState(item)" 
               (mouseenter)="setHoverState(item, true)" 
               (mouseleave)="setHoverState(item, false)"
               (click)="scrollTo(getScrollToId(item))">
              {{item}}
            </a>
          </li>
        }
      </ul>
    </nav>
  </header>
</div>
<div class="header-spacer"></div>