<section id="how-to-buy" class="how-to-buy">
    <div class="how-to-buy-container">
        <h2>How to Buy SupaRadu ($SRD)</h2>
        <ol class="steps">
            <li class="step">
                <h3>Create a Wallet</h3>
                <p>You probably already have one, if not, get Phantom (only place to get it is <a
                        href="https://phantom.app/" target="_blank" rel="noopener noreferrer">https://phantom.app/</a>)
                </p>
            </li>
            <li class="step">
                <h3>Get Some SOL</h3>
                <p>Have SOL in your wallet to switch to $SRD. If you don't have any SOL, you can buy directly inside
                    phantom, transfer from another wallet, or buy on another exchange and send it to your wallet.</p>
            </li>
            <li class="step">
                <h3>Go to Pump.fun</h3>
                <p>Connect to Pump.fun. Connect your wallet. Search for $SRD or go <a
                        href="https://pump.fun/8P1d3AYXsL4zL5gbuKJ65aKMBngwPevMbt35o4xvpump" target="_blank"
                        rel="noopener noreferrer">here</a> and buy SupaRadu.</p>
            </li>
            <li class="step">
                <h3>Make SupaRadu happy</h3>
                <p>Buy and hold. The more $SRD marketcap increases, the less depressed SupaRadu will be. Happiness
                    awaits at 1$ BILLION!</p>
            </li>
        </ol>
    </div>
</section>