<section id="roadmap" class="roadmap">
    <div class="roadmap-container">
        <h2>ROADMAP</h2>
        <ul class="roadmap-phases">
            <li class="roadmap-phase">
                <h3>Phase 1:</h3>
                <p>Holders embrace SupaRadu cause and send marketcap to 69000$</p>
            </li>
            <li class="roadmap-phase">
                <h3>Phase 2:</h3>
                <p>Raydium lists $SRD</p>
            </li>
            <li class="roadmap-phase">
                <h3>Phase 3:</h3>
                <p>SupaRadu not longer depressed</p>
            </li>
            <li class="roadmap-phase">
                <h3>Phase 4:</h3>
                <p>Make SupaRadu happy</p>
            </li>
            <li class="roadmap-phase">
                <h3>Phase 5:</h3>
                <p>Meme Takeover</p>
            </li>
        </ul>
    </div>
</section>